model_config_list {
    config {
        name: 'dog_breed_classification'
        base_path: '/models/dog_breed_classification'
        model_platform:'tensorflow'

        model_version_policy {
            specific {
                versions: 1
            }
        }
            version_labels  {
                key: 'stable'
                value: 1
            }  
    }
}